
<div class="wrapper">

    <!-- <div class="card-Country"> 
        <mat-card>
            <mat-card-header>
                <mat-card-title>100</mat-card-title>
            </mat-card-header>
            <mat-card-footer>
                Country
            </mat-card-footer>
        </mat-card>   
   </div> -->
   <div class="country-header">
    <mat-card class="country-card">
        <mat-card-title> <b>  {{countrySelected.country}}</b></mat-card-title>
    </mat-card> 
   </div>
  
 

    <div class="card-total-cases">
        <mat-card>
            <mat-card-title>{{countrySelected.totalCases}}</mat-card-title>
            <mat-card-footer>
                Total Cases
            </mat-card-footer>
        </mat-card>   
    </div>
    <div class="card-new-cases">
        <mat-card>
        
                <mat-card-title>{{countrySelected.newCases}}</mat-card-title>
     
            <mat-card-footer>
                New Cases
            </mat-card-footer>
        </mat-card> 
    </div>
    <div class="card-total-recovered">
        <mat-card>
            <mat-card-title>{{countrySelected.totalRecovered}}</mat-card-title>
            <mat-card-footer>
                Total Recovered
            </mat-card-footer>
        </mat-card>
    </div>
    <div class="card-new-recovered">
        <mat-card>
            <mat-card-title>{{countrySelected.newRecovered}}</mat-card-title>
            <mat-card-footer>
                New Recovered
            </mat-card-footer>
        </mat-card> 
    </div>
    <div class="card-total-deaths">
        <mat-card>
            <mat-card-title>{{countrySelected.totalDeaths}}</mat-card-title>
            <mat-card-footer>
                total Deaths
            </mat-card-footer>
        </mat-card> 
    </div>

    <div class="card-new-deaths">
        <mat-card>
            <mat-card-title>{{countrySelected.newDeaths}}</mat-card-title>
            <mat-card-footer>
                new Deaths
            </mat-card-footer>
        </mat-card> 
    </div>

    <div class="card-total-test">
        <mat-card>
            <mat-card-title>{{countrySelected.totalTest}}</mat-card-title>
            <mat-card-footer>
                total Test
            </mat-card-footer>
        </mat-card> 
 
    </div>

    <div class="card-new-test">
        <mat-card>
            <mat-card-title>{{countrySelected.newTest}}</mat-card-title>
            <mat-card-footer>
                new Test
            </mat-card-footer>
        </mat-card> 
    </div>


</div>
