<div  class="wrapper"> 

    <div class="chart1">
        <canvas  id="myChart" style="width:100%; height:200px;"></canvas>
        <mat-spinner  *ngIf="loader1" style="margin-left:180px;"></mat-spinner>
    </div>
   

    <div  class="chart2"> 
        <canvas  id="myChart2"  style="width:100%; height:200px;" ></canvas>
        <mat-spinner  *ngIf="loader2" style="margin-left:180px;" ></mat-spinner>
    </div>
 

    <div  class="chart3">
        <canvas   id="myChart3" style="width:100%; height:200px;"></canvas>
        <mat-spinner *ngIf="loader3"  style="margin-left:180px;" ></mat-spinner>
    </div>
   

</div>
