table {
    width:100%;
    background-color:#a6bfcc;
}
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  th.mat-sort-header-sorted {
    color: black;
  }

  .red{ 
      color:red; 
  }

  .yellow{
      color:yellow;
  }

  .green{
      color:green;
  }

  mat-paginator{
    background-color:#a6bfcc;
  }